/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: var(--small-font-size);
}

/**
 * Blockquotes
 */
blockquote {
  color: var(--grey-color);
  border-left: 4px solid var(--grey-color-light);
  padding-left: var(--spacing-unit) / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

blockquote:last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid var(--grey-color-light);
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}

pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(var(--content-width) - (var(--spacing-unit) * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-unit);
  padding-left: var(--spacing-unit);

  /*
    @include media-query(var(--on-laptop) {
        max-width: calc(var(--content-width) - var(--spacing-unit);
        padding-right: var(--spacing-unit) / 2;
        padding-left: var(--spacing-unit) / 2;
    }
*/
}

/**
 * Icons
 */
.icon > svg {
  padding-right: 0.5em;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon path {
  fill: var(--grey-color);
}

a:hover svg path {
  fill: var(--grey-color-dark);
}
