.site-header {
  border-bottom: 1px solid var(--grey-color-light);
  min-height: 56px;
  position: relative;
}

.site-title {
  font-size: 26px;
  font-family: var(--head-font-family);
  line-height: 56px;
  margin-bottom: 0;
  float: left;
}

.site-title,
.site-title:visited {
  color: var(--text-color);
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  color: var(--text-color);
  line-height: var(--base-line-height);
}

.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

.site-nav .page-link.active {
  text-decoration: underline;
}

/*
    @include media-query(var(--on)-palm) {
        position: absolute;
        top: 9px;
        right: var(--spacing)-unit / 2;
        background-color: var(--background)-color;
        border: 1px solid var(--grey)-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: var(--grey)-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
*/

.site-footer {
  border-top: 1px solid var(--grey-color-light);
  padding: var(--spacing-unit) 0;
}

div.noscript {
  width: 100%;
  color: #f00;
  background: #fee;
}

.footer-heading {
  margin-bottom: calc(var(--spacing-unit) / 2);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  margin-left: calc(var(--spacing-unit) * -0.5);

  /* @extend %clearfix; */
}

.footer-col {
  float: left;
  margin-bottom: calc(var(--spacing-unit) / 2);
  padding-left: calc(var(--spacing-unit) / 2);
  width: calc(50% - (var(--spacing-unit) / 2));
}

/*
@include media-query(var(--on-laptop)) {
    .footer-col-1,
    .footer-col-2 {
        width: calc(50% - (var(--spacing-unit) / 2));
    }

    .footer-col-3 {
        width: calc(100% - (var(--spacing)-unit) / 2));
    }
}

@include media-query(var(--on-palm)) {
    .footer-col {
        float: none;
        width: calc(100% - (var(--spacing-unit) / 2));
    }
}
*/

.page-content {
  padding: var(--spacing-unit) 0;
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-list > li {
  margin-bottom: var(--spacing-unit);
}

.post-meta {
  font-size: var(--small-font-size);
  color: var(--grey-color);
}

.post-link {
  display: block;
}

.post-header {
  margin-bottom: var(--spacing-unit);
}

.post-title {
  letter-spacing: -0.5px;
  line-height: 1;
}

.post-content {
  margin-bottom: var(--spacing-unit);
}

.post-content #vectorscores {
  display: none;
}
